@tailwind base;
@tailwind components;
@tailwind utilities;
main { display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; }

@media (max-width: 768px) 
{ 
main { grid-template-columns: 1fr; } 
}